.reviewContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  cursor: pointer;
  flex-wrap: wrap;
}

.reviewTextContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.user:hover{
  text-decoration: underline;
}
.infoContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}