.App{
  background-color: var(--main-bkgd-color);
  color: var(--main-color);
  justify-content: center;
}

.dark {
  --main-bkgd-color: #15202B;
  --main-color: white;
}

.contentContainer {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}